@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@200&display=swap");

body {
  font-family: "Noto Sans TC", sans-serif;
}

/* NavBar Section */

.navbar {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  box-shadow: 0px 8px 15px rgba(109, 109, 109, 0.521);
  border-bottom: 7px solid #333333;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navlink-box a img {
  display: inline-block;
  height: 40px;
}

.navlink-box a {
  margin-left: 10px;
}

.navlink-box {
  margin-right: 50px;
}

.navbar-logo-box {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 80px;
}

.navbar-logo-box::after {
  content: "";
  height: 7px;
  width: 100%;
  background-color: #de2a08;
  position: absolute;
  bottom: -7px;
  left: 0;
}

/* main section */

.main-section {
  margin-top: 87px;
  width: 100%;
}

.main-visual img {
  width: 100%;
}

.section-link-box {
  width: 100%;
  height: 65px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 30;
}

.section-link-box a {
  text-decoration: none;
  color: white;
  width: 180px;
  height: 65px;
  font-size: 1rem;
  font-weight: 300;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-nav-link {
  position: relative;
}

.sub-nav-link::after {
  content: "";
  width: 90%;
  height: 4px;
  background-color: #de2a08;
  position: absolute;
  bottom: 0;
  visibility: hidden;
}

.sub-nav-link:hover::after {
  visibility: visible;
}

/* Core value section */

.core-values {
  width: 100%;
  height: 700px;
  background: url("images/toyota-corolla-2019-coming-soon.jpeg");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  padding-top: 80px;
}

.core-values::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  position: absolute;
  top: 0;
  z-index: 1;
}

.heading {
  color: #de2a08;
  font-size: 2.5rem;
  width: 40%;
  text-align: center;
  margin: 0px auto 30px auto;
  line-height: 1.5;
  text-shadow: 0px 0px 10px black;
  position: relative;
  z-index: 3;
}

.core-value-subheading {
  width: 200px;
  border: 1px solid white;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.3rem;
  position: relative;
  z-index: 3;
}

.value-item {
  width: 400px;
  position: relative;
  z-index: 3;
}

.icon-outer {
  width: 80px;
  height: 80px;
  border: 2px dotted white;
  display: flex;
  border-radius: 50%;
}

.icon-inner {
  width: 40%;
  height: 40%;
  border: 2px solid white;
  margin: auto;
  border-radius: 50%;
  display: flex;
}

.icon-dot {
  width: 20%;
  height: 20%;
  background-color: #de2a08;
  margin: auto;
  border-radius: 50%;
}

.ico1 {
  margin-left: auto;
}

.top-part h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 20px;
}

.bottom-part {
  background-color: rgba(0, 0, 0, 0.658);
  padding: 20px;
  margin-top: 20px;
}

.bottom-part h3 {
  color: #de2a08;
  font-size: 1.2rem;
}

.bottom-part p {
  line-height: 1.3;
  font-weight: 300;
  line-height: 1.4;
}

.core-value-title1 {
  text-align: right;
}

.vi1 {
  position: relative;
  left: 10%;
  top: 90px;
}

.vi2 {
  position: relative;
  left: 60%;
  top: -270px;
}

.top-part.tp1 + .bottom-part,
.top-part.tp2 + .bottom-part {
  visibility: hidden;
  transition: all 0.3s ease;
}

.top-part.tp1:hover + .bottom-part,
.top-part.tp2:hover + .bottom-part {
  visibility: visible;
  cursor: pointer;
}

.divider {
  background-color: #de2a08;
  border: none;
  height: 1px;
}

/* Advantage section */

.advantage-section {
  padding-top: 80px;
}

.advantage-section h1 {
  color: #333333;
  text-shadow: none;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage-section h1::after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #333333;
  margin-top: 15px;
}

.advantage-anchor-box {
  width: 90%;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 20px;
}

.advantage-anchor-box a {
  width: 180px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-bottom: 2px solid #ae1f12;
  border-top: 1px dotted black;
  border-left: 1px dotted black;
  border-right: 1px dotted black;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 300;
  position: relative;
  overflow: hidden;
  transition: all 0.1s ease;
}

.ad-link1::after,
.ad-link2::after,
.ad-link3::after,
.ad-link4::after,
.ad-link5::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ae1f12;
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 0.3s ease;
  z-index: -1;
}

.ad-link1:hover::after,
.ad-link2:hover::after,
.ad-link3:hover::after,
.ad-link4:hover::after,
.ad-link5:hover::after {
  top: 0%;
}

.advantage-anchor-box a:hover {
  color: white;
}

/* === fun driving === */

.fun-driving,
.safety,
.comfort,
.human-center,
.proud {
  width: 90%;
  max-width: 960px;
  margin: 150px auto 150px auto;
  box-sizing: border-box;
  position: relative;
}

.main-message-right,
.sub-message-right {
  margin-left: auto;
}

.main-message {
  width: 350px;
  height: 390px;
  background-color: black;
  color: white;
}

.main-message-top {
  background-color: #bb2202;
  height: 140px;
  display: flex;
}

.number {
  writing-mode: vertical-rl;
  width: 35%;
  font-size: 8.5rem;
  font-weight: 300;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  text-align: center;
}

.number-title {
  font-size: 3.2rem;
  line-height: 140px;
  font-weight: 200;
  letter-spacing: 3px;
  width: 65%;
  text-align: center;
}

.main-message-subheading {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 30px;
}

.main-message-p {
  padding: 20px;
  padding-top: 0px;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.8;
}

.sub-message {
  width: 680px;
  padding: 20px;
  background-color: #eeeeee;
  margin-top: 150px;
}

.sub-message h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #bb2202;
  display: flex;
  align-items: center;
}

.sub-message h3::after {
  content: "";
  width: 69%;
  height: 1px;
  background-color: #bb2202;
  margin-left: 10px;
}

.sub-message h4 {
  background-color: black;
  display: inline-block;
  color: white;
  padding: 7px;
  font-weight: 300;
  margin-top: 12px;
  margin-bottom: 12px;
}

.sub-message li {
  font-weight: 300;
  color: #626262;
  list-style-type: none;
  position: relative;
  margin-left: 20px;
}

.sub-message li::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #bb2202;
  position: absolute;
  top: 50%;
  left: -10px;
}

/* === fun driving & comfort & proud position === */
.fun-driving a,
.comfort a,
.proud a {
  display: block;
  width: 690px;
  height: 430px;
  background: url("/images/advantage01.jpg");
  background-size: cover;
}

.comfort a {
  background: url("/images/advantage03.jpeg");
}

.proud a {
  background: url("/images/advantage05.jpeg");
}

.grey-block1,
.grey-block3,
.grey-block5 {
  width: 440px;
  height: 290px;
  background-color: #efefef;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: -2;
}

.vid1,
.vid3,
.vid5 {
  position: absolute;
  top: 140px;
  left: 185px;
  z-index: -1;
}
.videoicon1,
.videoicon3,
.videoicon5 {
  width: 60px;
  position: absolute;
  top: 50%;
  right: -8px;
}

/* === safety & human-center driving === */
.safety a,
.human-center a {
  display: block;
  width: 690px;
  height: 430px;
  background: url("/images/advantage02.jpeg");
  background-size: cover;
}

.human-center a {
  background: url("/images/advantage04.jpeg");
}

.grey-block2,
.grey-block4 {
  width: 440px;
  height: 290px;
  background-color: #efefef;
  position: absolute;
  right: 165px;
  top: 40px;
  z-index: -2;
}

.vid2,
.vid4 {
  position: absolute;
  top: 140px;
  left: 0px;
  z-index: -1;
}
.videoicon2,
.videoicon4 {
  width: 60px;
  position: absolute;
  top: 50%;
  left: -8px;
}

/* Innovation section */

.innovation-section {
  width: 90%;
  max-width: 960px;
  margin: auto;
}

.innovation-section img {
  width: 100%;
}

.btn_outer {
  width: 285px;
  height: 90px;
  background-color: black;
  position: relative;
  margin-left: auto;
}

.btn_inner {
  width: 70%;
  height: 60px;
  background-color: #bb2202;
  position: absolute;
  top: 15px;
}

.btn_link {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 60px;
  padding-left: 80px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.btn_link::after {
  content: "";
  width: 150px;
  height: 1px;
  background-color: white;
  margin-top: 0;
  position: relative;
  bottom: 10px;
  left: 0px;
  transition: all 0.3s ease;
}

.btn_link:hover::after {
  left: 20px;
}

/* Video section */

.video-section {
  padding-top: 80px;
  box-sizing: border-box;
  position: relative;
}

.video-section h1 {
  color: #333333;
  text-shadow: none;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-section h1::after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #333333;
  margin-top: 15px;
}

.video-placeholder {
  width: 100%;
  height: 540px;
  background: url("/images/2021-Toyota-Corolla-Banner.png");
  position: relative;
  /* padding-top: 200px; */
}

.video-placeholder::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.527);
  position: absolute;
  top: 0;
  left: 0;
}

.video-placeholder h2 {
  color: white;
  font-size: 2rem;
}

.video-placeholder div {
  width: 600px;
  text-align: center;
  margin: auto;
  position: relative;
  top: 220px;
  z-index: 1;
}

.video-placeholder img {
  width: 60px;
  margin-top: 30px;
}

.invisible_link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.video_switch {
  width: 100px;
  margin: auto;
  margin-top: 30px;
}

.video_switch a {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #e2b4b8;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
}

.video_switch a:first-child {
  background-color: #bb2202;
}
